h1 {
  color: #E54848;
}

.ItemsContainer {
  padding: 16px;
}

.ItemCard {
  float: left;
  margin: 1.5%;
  background: whitesmoke;
  box-shadow: 0 3px 6px #E54848, 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 30%;
  height: 300px;
  padding-bottom: 10px;
}

.ItemCard:hover {
  box-shadow: 0 14px 28px #E54848, 0 10px 10px rgba(0,0,0,0.22);
}

.ItemImage {
  width: 70%;
  padding-top: 20px;
}
